.container
  .row.well
    .col-sm-12
      %h2= t('forms.register')

      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), class: 'form-horizontal', role: 'form') do |f|
        = devise_error_messages!

        .form-group.row
          = f.label t('forms.email'), class: 'col-sm-2 control-label'
          .col-sm-5
            = f.email_field :email, :autofocus => true, class: 'form-control'

        .form-group.row
          = f.label t('forms.password'), class: 'col-sm-2 control-label'
          .col-sm-5
            = f.password_field :password, class: 'form-control'

        .form-group.row
          = f.label t('forms.passconf'), class: 'col-sm-2 control-label'
          .col-sm-5
            = f.password_field :password_confirmation, class: 'form-control'

        .row
          .col-sm-7
            .pull-right
              = f.submit t('buttons.register'), class: 'btn btn-success'
