.modal-body
  =form_for @audit, remote: true, html: { style: "display:inline;" } do |f|
    %ul.errors

    .form-group
      = f.label :name, class: "control-label"
      = f.text_field :name, class: "form-control"
    .form-group
      = f.label :startDate, class: "control-label"
      = f.date_field :startDate, class: "form-control"
    .form-group
      = f.label :endDate, class: "control-label"
      = f.date_field :endDate, class: "form-control"
    .modal-footer
      = f.submit t('audit.modal.save') ,class: "btn btn-primary"
      = link_to t('audit.modal.cancel'), "#", class: "btn btn-default", data: {dismiss: "modal"}
