- @audits.order(:endDate).each do |audit|
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        %b
          = audit.name
        | Start date:
        = audit.startDate
        | End date:
        = audit.endDate
        | Days to end:
        = days_left(audit)
        = link_to "Edit", edit_audit_path(audit), remote: true, class: "btn btn-default"
        = link_to "Delete", audit_delete_path(audit), remote: true, class: "btn btn-danger"
    .panel-body
      -if audit.tasks.empty?
        You haven't added any tasks
      -else
        %ul
          - audit.tasks.each do |task|
            %li #{task.descr} #{link_to glyph("remove-circle"), task_path(id: task.id), remote: true, method: :delete}
      = render "tasks/form", audit: audit
