.container
  .row.well
    .col-sm-12
      %h2= t('forms.login')

      = form_for resource, as: resource_name, url: session_path(resource_name), class: 'form-horizontal' do |f|

        .form-group.row
          = f.label t('forms.email'), class: 'col-sm-2 control-label'
          .col-sm-5
            = f.email_field :email, :autofocus => true , class: 'form-control'

        .form-group.row
          = f.label t('forms.password'), class: 'col-sm-2 control-label'
          .col-sm-5
            = f.password_field :password , class: 'form-control'

        - if devise_mapping.rememberable?
          .row
            .col-sm-5.col-sm-offset-2
              .checkbox
                %label
                  = f.check_box :remember_me
                  = t('forms.keepme')
        .row
          .col-sm-7
            .pull-right
              = f.submit t('buttons.login'), class: 'btn-success btn'
